{% extends "base.html" %}

{% block title %}
	Profile
{% endblock title %}

{% load static %}
{% block content %}
	<div class="row">
		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">
                            	résumé ce mois-ci
                            </h4>
                            <img src="{% static 'image/fingerprint.svg' %}" height="60">
                            <ul class="list-inline widget-chart m-t-20 text-center">
                                <li>
                                    <h4 class=""><b>0</b></h4>
                                    <p class="text-muted m-b-0">Absent</p>
                                </li>
                                <li>
                                    <h4 class=""><b>52</b></h4>
                                    <p class="text-muted m-b-0">Présent</p>
                                </li>
                                <li>
                                    <h4 class=""><b>2</b></h4>
                                    <p class="text-muted m-b-0">En retard</p>
                                </li>
                            </ul>

                            <table class="table table-hover">
                            	<tr>
                            		<th>Nom</th>
                            		<td>{{ salary.last_name }}</td>
                            	</tr>
                            	<tr>
                            		<th>Prenom</th>
                            		<td>{{ salary.first_name }}</td>
                            	</tr>
                            	<tr>
                            		<th>Id sur l'empreinte digitale</th>
                            		<td>{{ salary.id_salary_finger }}</td>
                            	</tr>
                            	<tr>
                            		<th>Groupe</th>
                            		<td>{{ salary.group_salary }}</td>
                            	</tr>
                            	<tr>
                            		<th>Telephone</th>
                            		<td>{{ salary.phone }}</td>
                            	</tr>
                            	<tr>
                            		<th>Date jointe</th>
                            		<td>{{ salary.date_joined }}</td>
                            	</tr>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-body">
					<form class="row" method="post">{% csrf_token %}
                        <div class="form-control col-6">
                            <label>date debut</label>
                            <input type="date" name="start" class="form-control">
                        </div>

                        <div class="form-control col-6">
                            <label>date de fin</label>
                            <input type="date" name="end" class="form-control">
                        </div>

                        <div class="form-control col col-md-3 offset-md-4">
                            <button class="btn btn-dark">Afficher les enregistrements</button>
                        </div>
                    </form>
                    <div class="d-flex  justify-content-around status-parent">
                        <div class="">
                            <div class="status absent"></div> <span>Absent</span>
                        </div>
                        <div class="">
                            <div class="status late"></div> <span>Retard</span>
                        </div>
                        <div class="">
                            <div class="status early"></div> <span>Tôt</span>
                        </div>
                        <div class="">
                            <div class="status incomplete"></div> <span>Incomplet</span>
                        </div>
                        <div class="">
                            <div class="status break"></div> <span>Congés</span>
                        </div>
                        <div class="">
                            <div class="status holiday"></div> <span>Vacances</span>
                        </div>
                        <div class="">
                            <div class="status in_time"></div> <span>à l'heure</span>
                        </div>
                    </div>
                    <div>
                        <button class="float-right btn btn-secondary btn-lg" id="print">print</button>
                    </div>
                    <table class="table" id="table">
                        <thead class="bg-dark text-light">
                            <th>Date</th>
                            <th class="text-center">
                                <td class="text-center">{{legal_time.time_enter_morning|time:"H:i"}} - {{legal_time.time_out_morning|time:"H:i"}}</td>
                                {% if not legal_time.full_time %}
                                    <td class="text-center">{{legal_time.time_enter_evening|time:"H:i"}} - {{legal_time.time_out_evening|time:"H:i"}}</td>
                                {% endif %}
                            </th>
                        </thead>
                        <tbody>
                            {% for d in dates %}
                                {% if not forloop.last %}
                                    <tr>
                                        {% if d.date %}
                                            <td colspan="2">{{ d.date|date:'Y-m-d' }}</td>
                                            {% if d.status1 == 'absent' %}
                                                <td class="absent text-center" >Absent</td>
                                            {% else %}
                                                <td class="text-center {{d.status1}}">{{ d.in_morning|time:"H:i" }} - {{ d.out_morning|time:"H:i" }}</td>
                                            {% endif %}
                                            {% if not legal_time.full_time %}
                                                <td class="text-center {{d.status2}} td-border">{{ d.in_evening|time:"H:i" }} - {{ d.out_evening|time:"H:i" }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td colspan="2">{{ d }}</td>
                                            <td class="absent text-center" >Absent</td>
                                            {% if not legal_time.full_time %}
                                                <td class="absent text-center td-border">Absent</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if forloop.last %}
                                    <tr>
                                        <td class="align-middle"><b>Résumé</b></td>
                                        <td colspan="3" class="text-center ">
                                            <p>Heures: {{d.0.nb_hours__sum}}</p>
                                            <hr>
                                            {% comment %}
                                             <p>Minutes: {{d.1.nb_minutes__sum}}</p>
                                            <hr>
                                             {% endcomment %} 
                                            <p>Absents: {{ d.2 }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
				</div>
			</div>
		</div>
	</div>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <script>
        $(function() {
            $('#print').click(function(){
                $('#table').printThis();
            });
        });
    </script>
{% endblock content %}