{% extends 'base.html' %}

{% block title %} Home page {% endblock title %}

{% block content %}
<div class="container-fluid">
	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Tableau de bord</h4>
			</div>
		</div>
	</div>
	<!-- end page title end breadcrumb -->
	<div class="row">
		<div class="col-md-6 col-xl-3">
			<div class="mini-stat clearfix bg-white">
				<a href="{% url 'employees:manage' %}"><span class="mini-stat-icon bg-light"><i class="fa fa-user"></i></span></a>
				<div class="mini-stat-info text-right text-muted">
					<span class="counter text-danger">{{nb_salary}}</span>
					Salariés
				</div>
			</div>
		</div>

		<div class="col-md-6 col-xl-3">
			<div class="mini-stat clearfix bg-success">
				<a href="{% url 'pointage:reports' %}"><span class="mini-stat-icon bg-light"><i class="fa fa-cloud"></i></span></a>
				<div class="mini-stat-info text-right text-white">
					Rapport
				</div>
				<p class="mb-0 m-t-20 text-light"> <span class="pull-right"><a href="">Plus de details</a></span></p>
			</div>
		</div>

		<div class="col-md-6 col-xl-3">
			<div class="mini-stat clearfix bg-white">
				<a href="{% url 'pointage:gererTempe' %}"><span class="mini-stat-icon bg-light"><i class="mdi mdi-cube-outline text-warning"></i></span></a>
				<div class="mini-stat-info text-right text-muted">
					<a href="{% url 'pointage:gererTempe' %}">Gere les périodes</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-xl-3">
			<div class="mini-stat clearfix bg-info">
				<a href="{% url 'employees:manage' %}"><span class="mini-stat-icon bg-light"><i class="fa fa-users"></i></span></a>
				<div class="mini-stat-info text-right text-light">
					<span class="counter text-white">{{nb_group}}</span>
					Total groups
				</div>
			</div>
		</div>

	</div>


</div> <!-- end container -->
{% endblock %}