{% extends 'base.html' %}

{% block title %} Home page {% endblock title %}

{% block content %}
<div class="container-fluid">
	<!-- Page-Title -->
	<div class="row">
	    <div class="col-sm-12">
	        <div class="page-title-box">
	            <h4 class="page-title">Tableau de bord</h4>
	        </div>
	    </div>
	</div>
	<!-- end page title end breadcrumb -->
	<div class="row">
	    <div class="col-md-6 col-xl-3">
	        <div class="mini-stat clearfix bg-white">
	            <span class="mini-stat-icon bg-light"><i class="fa fa-user"></i></span>
	            <div class="mini-stat-info text-right text-muted">
	                <span class="counter text-danger">1</span>
	                Total absences aujourd'hui
	            </div>
	        </div>
		</div>
		
	    <div class="col-md-6 col-xl-3">
	        <div class="mini-stat clearfix bg-success">
	            <span class="mini-stat-icon bg-light"><i class="fa fa-cloud"></i></span>
	            <div class="mini-stat-info text-right text-white">
	                la météo aujourd'hui
	            </div>
	            <p class="mb-0 m-t-20 text-light">29 deg <span class="pull-right"><i class="fa fa-caret-up m-r-5"></i>Marrakech</span></p>
	        </div>
		</div>
		
	    <div class="col-md-6 col-xl-3">
	        <div class="mini-stat clearfix bg-white">
	            <span class="mini-stat-icon bg-light"><i class="mdi mdi-cube-outline text-warning"></i></span>
	            <div class="mini-stat-info text-right text-muted">
	                <span class="counter text-warning">52</span>
	                Total des employés 
	            </div>
	        </div>
		</div>
		
	    <div class="col-md-6 col-xl-3">
	        <div class="mini-stat clearfix bg-info">
	            <span class="mini-stat-icon bg-light"><i class="fa fa-users"></i></span>
	            <div class="mini-stat-info text-right text-light">
	                <span class="counter text-white">2</span>
	                Total groups
	            </div>
	        </div>
		</div>
		
	</div>

	<div class="row">
	    <div class="col-md-6">
	        <div class="card m-b-30">
	            <div class="card-body">
	                
	            </div>
	        </div>
	    </div>

	    <div class="col-md-6">
	        <div class="card m-b-30">
	            <div class="card-body">
	               
	            </div>
	        </div>
	    </div>
	</div>

</div> <!-- end container -->
{% endblock %}