    <div class="modal-dialog" id="edit_modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Modifier un Eployee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form method="post"  id="edit_employee_form" data-url="{% url 'employees:edit' form.instance.id %}"> {% csrf_token %}
	            <div class="modal-body">
	               	{{form.as_p}}
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Fermer</button>
	                <button type="submit" class="btn btn-primary waves-effect waves-light">Modifier</button>
	            </div>
        	</form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
<script type="text/javascript">
    $('#edit_modal select').addClass('form-control');
    $('#edit_modal #id_date_joined').addClass('form-control');
    $("#edit_modal #id_date_joined").prop("type", "date");
        $('#edit_employee_form').submit(function(e){
        e.preventDefault();
        var thisForm = $(this);
        var action = thisForm.attr('data-url')
        var formData = thisForm.serialize()

        $.ajax({
            url: action,
            method: 'post',
            data: formData,
            success: function(data){
                if(data.added){
                    $.confirm({
                        title: 'Succès!',
                        content: 'Employé modifier avec succès',
                        type: 'green',
                        typeAnimated: true,
                        buttons: {
                            tryAgain: {
                                text: 'OK',
                                btnClass: 'btn-green',
                                action: function(){
                                }
                            },
                            close: function () {
                            }
                        }
                    });
                    $('#datatable-buttons tbody').html(data.salaries)
                }
            },
            error: function(data){
                console.log(data)
            }
        })
    });
</script>